@charset "UTF-8";

@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important;
    }
}

body {
    margin: 0 auto;
}

.page-content {
    position: relative;
    overflow: hidden;
}

.margin-75 {
    height: 75px;
}

.margin-175 {
    height: 175px;
}

.margin-300 {
    height: 300px;
}

.margin-465 {
    height: 465px;
}

.margin-990 {
    height: 990px;
}

@media screen and (max-width: 425px) {
    hr {
        width: 345px !important;
    }
}

@media screen and (max-width: 420px) {
    hr {
        width: 290px !important;
    }
}

@media screen and (max-width: 992px) {
    .authorization footer {
        top: 0px !important;
    }
}

@media (min-width: 992px) {
    .col-lg-5 {
        max-width: unset !important;
    }
}

input[type="time"],
input[type="date"],
textarea,
select,
option {
    font-family: "Cormorant Garamond";
}

::-webkit-input-placeholder {
    font-family: "Cormorant Garamond";
}

:-moz-placeholder {
    font-family: "Cormorant Garamond";
}

::-moz-placeholder {
    font-family: "Cormorant Garamond";
}

:-ms-input-placeholder {
    font-family: "Cormorant Garamond";
}

.section-heading {
    text-align: center;
}

    .section-heading h1 {
        font-family: "Cormorant Garamond";
        color: #3e3e3e;
        font-weight: 700;
    }

    .section-heading hr {
        width: 460px;
    }

@media screen and (max-width: 424px) {
    .section-heading h1 {
        margin-top: 35px;
    }
}

.logo {
    text-align: center;
}

    .logo h1 {
        font-family: "Sacramento", cursive;
        font-size: 51px;
    }

        .logo h1 a {
            text-decoration: none;
            color: yellow;
        }

.grid {
    margin-top: 30px;
    padding-top: 30px;
    padding: 0 !important;
}

    .grid .show {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .grid .place:nth-child(2n) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .grid .place {
        text-align: center;
        color: #3e3e3e;
        margin: 25px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0;
    }

    .grid .place-image {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 500px;
        overflow: hidden;
        padding: 0;
    }

        .grid .place-image img {
            height: 100%;
            width: 100%;
            margin: auto;
        }

    .grid .place-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 500px;
    }

    .grid .place-info-text {
        padding: 89px;
        overflow: hidden;
    }

        .grid .place-info-text p {
            font-family: "Cormorand Garamont";
            font-style: italic;
            font-size: 24px;
            text-align: start;
        }

        .grid .place-info-text h2 {
            margin: 12px 0;
            font-family: "Cormorant Garamond", serif;
            font-weight: 600;
            font-size: 70px;
            letter-spacing: 6px;
            font-style: italic;
            padding: 20px;
        }

        .grid .place-info-text h6 {
            font-family: "Montserrat";
            font-style: italic;
            padding: 15px;
            margin-bottom: 17px;
        }

            .grid .place-info-text h6 span {
                font-style: normal;
                font-weight: 600;
            }

@media screen and (max-width: 1024px) {
    .grid .place-info {
        height: 540px !important;
    }

    .grid .place-info-text {
        padding: 25px !important;
    }

        .grid .place-info-text h2 {
            margin: 21px 0 !important;
            font-size: 50px !important;
        }

        .grid .place-info-text p {
            text-align: center !important;
        }

    .grid .place-image img {
        width: 200% !important;
    }
}

@media screen and (max-width: 320px) {
    .grid .place-info-text h2 {
        font-size: 38px !important;
    }
}

@media screen and (max-width: 767px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .meals-pictures {
        position: relative;
    }

        .meals-pictures .grid .place {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

.add-comment-section .stars {
    float: left;
    height: 46px;
    padding: 0 10px;
}

    .add-comment-section .stars:not(:checked) > input {
        position: absolute;
        visibility: hidden;
        top: auto;
    }

    .add-comment-section .stars:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .add-comment-section .stars:not(:checked) > label:before {
            content: "★ ";
        }

    .add-comment-section .stars > input:checked ~ label {
        color: #ffc700;
    }

    .add-comment-section .stars:not(:checked) > label:hover,
    .add-comment-section .stars:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .add-comment-section .stars > input:checked + label:hover,
    .add-comment-section .stars > input:checked + label:hover ~ label,
    .add-comment-section .stars > input:checked ~ label:hover,
    .add-comment-section .stars > input:checked ~ label:hover ~ label,
    .add-comment-section .stars > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

.rating-stars .stars {
    margin: 20px 0;
    padding: 26px;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rating-stars .active-star {
    font-size: 33px !important;
}

.rating-stars span {
    margin: auto 10px;
    font-size: 55px;
}

@media screen and (max-width: 375px) {
    .rating-stars {
        height: 125px !important;
        background-size: 88%;
    }

        .rating-stars .stars {
            padding: 0;
        }

            .rating-stars .stars span {
                margin: 9px;
                font-size: 30px;
            }
}

@media screen and (max-width: 425px) {
    .rating-and-reviews {
        margin-top: 165px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .best-dishes {
        height: 892px !important;
    }

    .rating-stars {
        background-size: 92%;
        background-position-y: -21px;
        margin: unset;
    }

        .rating-stars .stars span {
            font-size: 40px !important;
        }
}

@media screen and (min-width: 376px) and (max-width: 424px) {
    .rating-stars {
        height: 155px !important;
        background-size: 88%;
        margin: unset;
        background-position-y: -30px;
    }

        .rating-stars .stars {
            padding: unset;
        }

            .rating-stars .stars span {
                margin: 10px;
                font-size: 36px;
            }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .rating-stars {
        background-size: 64%;
        margin: unset;
        background-position-y: -19px;
    }

        .rating-stars .stars span {
            font-size: 50px;
        }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
    .rating-stars {
        background-size: 64%;
        margin: unset;
    }
}

.background-img-container .background-img {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.reservation {
    height: 763px;
}

    .reservation .background-up {
        background-position: center;
        height: 763px;
        background: url(../../img/pies.jpg);
    }

.reservation-card {
    z-index: 2;
    position: relative;
    bottom: 617px;
}

.reservation-card-container {
    height: auto;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

    .reservation-card-container .section-heading {
        margin: 10px 0;
    }

    .reservation-card-container .reservation-content {
        margin: 33px 0;
    }

        .reservation-card-container .reservation-content .reservation-form {
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .reservation-card-container .reservation-content .reservation-form .form-row {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin: 20px 0;
            }

                .reservation-card-container .reservation-content .reservation-form .form-row input,
                .reservation-card-container .reservation-content .reservation-form .form-row select {
                    margin: 0 5px;
                    height: 70px;
                    border: 0;
                    border-bottom: 1px solid #eee;
                }

            .reservation-card-container .reservation-content .reservation-form #row1 input {
                width: 45%;
            }

            .reservation-card-container .reservation-content .reservation-form #row2 input,
            .reservation-card-container .reservation-content .reservation-form #row2 select {
                width: 29%;
                color: #7d868e;
                font-family: "Cormorant Garamond";
            }

            .reservation-card-container .reservation-content .reservation-form button {
                height: 43px;
                margin: auto;
                border: none;
                color: orange;
                background-color: transparent;
                font-family: "Montserrat";
                font-size: 16px;
                letter-spacing: 2px;
                font-weight: 700;
            }

                .reservation-card-container .reservation-content .reservation-form button:hover {
                    border-bottom: 1px solid orange;
                }

@media screen and (max-width: 425px) {
    .reservation-card {
        padding: 0;
    }

    .reservation-card-container hr {
        width: 345px !important;
    }
}

.contact-us {
    height: auto;
    overflow: hidden;
}

.contact-us-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 !important;
}

    .contact-us-content .contact-us-text .section-heading {
        padding: 25px;
        margin: 33px 0;
        font-family: "Cormorant Garamond";
        font-style: italic;
        font-weight: 300;
    }

    .contact-us-content .contact-us-text .info {
        text-align: center;
        font-family: "Montserrat";
    }

    .contact-us-content .contact-us-text .info-item {
        margin: 37px 0;
    }

        .contact-us-content .contact-us-text .info-item span {
            font-weight: 700;
        }

        .contact-us-content .contact-us-text .info-item p {
            margin: 20px 0;
            font-weight: 300;
            font-size: 14px;
        }

    .contact-us-content .map {
        height: 550px;
        padding: 0 !important;
        overflow: hidden;
    }

        .contact-us-content .map #map {
            height: 100%;
            width: 100%;
            padding: 0 !important;
            -webkit-filter: saturate(0.5);
            filter: saturate(0.5);
        }

@media screen and (max-width: 425px) {
    .contact-us {
        overflow: unset;
    }
}

.comments-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .comments-section .comment {
        -webkit-box-shadow: 0px 2px 20px -4px rgba(210, 177, 15, 0.56);
        box-shadow: 0px 2px 20px -4px rgba(210, 177, 15, 0.56);
        border-radius: 10px;
        margin: 15px;
        padding: 20px;
        width: 47%;
    }

        .comments-section .comment .user-texts {
            padding: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .comments-section .comment .user-texts .upperpart-texts {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }

                .comments-section .comment .user-texts .upperpart-texts .username {
                    font-size: 21px;
                    font-family: "Cormorant Garamond";
                }

            .comments-section .comment .user-texts .lowerpart-texts p {
                font-size: 19px;
                font-family: "Cormorant Garamond";
                font-style: italic;
            }

.add-comment-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}

    .add-comment-section .add-comment {
        border-radius: 10px;
        -webkit-box-shadow: 0px 2px 20px -4px rgba(210, 177, 15, 0.56);
        box-shadow: 0px 2px 20px -4px rgba(210, 177, 15, 0.56);
        padding: 15px 25px 0 25px;
    }

        .add-comment-section .add-comment .log-message {
            font-family: "Cormorant Garamond";
            color: #3e3e3e;
            font-size: 23px;
            text-align: center;
        }

            .add-comment-section .add-comment .log-message a {
                color: orange;
            }

        .add-comment-section .add-comment h5 {
            margin: 20px 0;
            font-family: "Montserrat";
            font-size: 17px;
        }

        .add-comment-section .add-comment form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 20px 0;
        }

            .add-comment-section .add-comment form textarea {
                border: 0.5px solid #eee;
                resize: none;
                height: 150px;
                font-family: "Cormorant Garamond";
            }

            .add-comment-section .add-comment form .comment-btns {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }

                .add-comment-section .add-comment form .comment-btns .stars span {
                    margin: 2px !important;
                    font-size: 28px;
                }

                .add-comment-section .add-comment form .comment-btns button {
                    width: 140px;
                    height: 40px;
                    margin: 13px 0;
                    border-radius: 5px;
                    border: none;
                    color: white;
                    background-color: orange;
                    font-family: "Montserrat";
                    font-size: 13px;
                    font-weight: 700;
                }

                    .add-comment-section .add-comment form .comment-btns button:hover {
                        border: 1px solid orange;
                        background-color: white;
                        color: orange;
                    }

@media screen and (max-width: 425px) {
    .comments-section .comment {
        margin: 15px auto;
        padding: 15px 25px 0 25px;
        width: unset;
    }

    .add-comment-section {
        margin-top: unset;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    .comments-section .comment {
        margin: 10px auto;
    }
}

@media screen and (min-width: 992px) {
    .comments-section .comment {
        width: 47% !important;
    }
}

.best-dishes {
    height: 1157px;
}

    .best-dishes .background-up {
        background: url(../../img/collage-01.jpg);
        height: 1500px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: -246px;
    }

    .best-dishes .menu-card {
        height: 0;
    }

        .best-dishes .menu-card .menu-card-container {
            z-index: 2;
            margin: 0 auto;
            padding: 16px;
            border-radius: 10px;
            height: auto;
            background-color: white;
            position: relative;
            bottom: 1364px;
        }

            .best-dishes .menu-card .menu-card-container .menu-icon {
                margin: 15px auto;
                padding: 0;
            }

                .best-dishes .menu-card .menu-card-container .menu-icon img {
                    width: 100%;
                }

            .best-dishes .menu-card .menu-card-container .menu-content {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin: 0 auto;
                padding: 12px;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            }

                .best-dishes .menu-card .menu-card-container .menu-content .menu-item {
                    padding: 20px;
                    margin: 10px 0;
                }

                    .best-dishes .menu-card .menu-card-container .menu-content .menu-item .dish-heading {
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                    }

                        .best-dishes .menu-card .menu-card-container .menu-content .menu-item .dish-heading h2 {
                            font-family: "Montserrat";
                            color: #646464;
                            font-weight: 300;
                            font-size: 26px;
                            margin: 0;
                        }

                        .best-dishes .menu-card .menu-card-container .menu-content .menu-item .dish-heading .price {
                            font-size: 17px;
                            font-weight: 600;
                            padding: 10px;
                        }

                    .best-dishes .menu-card .menu-card-container .menu-content .menu-item hr {
                        border: none;
                        border-top: 1px dotted #eee;
                        color: #fff;
                        background-color: #fff;
                        height: 1px;
                        width: 100%;
                    }

                    .best-dishes .menu-card .menu-card-container .menu-content .menu-item .dish-text {
                        font-size: 19px;
                        font-family: "Cormorant Garamond";
                        font-style: italic;
                        height: 50px;
                    }

                        .best-dishes .menu-card .menu-card-container .menu-content .menu-item .dish-text p {
                            height: 25px;
                        }

@media screen and (max-width: 375px) {
    .menu-card-container .section-heading hr {
        width: 280px !important;
    }

    .menu-card-container .menu-item {
        margin: 60px 0 !important;
    }

        .menu-card-container .menu-item hr {
            width: 180px !important;
        }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .best-dishes .background-up {
        background: none !important;
        height: 1210px !important;
    }

    .menu-card-container hr {
        width: 345px !important;
    }

    .menu-card-container .menu-item {
        margin: 60px 0 !important;
    }

        .menu-card-container .menu-item hr {
            width: 250px !important;
        }
}

@media screen and (max-width: 768px) {
    .best-dishes .background-up {
        background-position-y: -250px !important;
        height: 1080px !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .best-dishes .background-up {
        background-position-y: -128px;
        height: 1080px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-card .menu-card-container {
        bottom: 1026px !important;
    }
}

@media screen and (min-width: 768px) {
    .menu-item .dish-text {
        height: 85px !important;
    }
}

@media screen and (max-width: 768px) {
    .best-dishes .background-up {
        background-size: unset;
    }
}

@media screen and (max-width: 1023px) {
    .menu-card-container .menu-icon {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

        .menu-card-container .menu-icon img {
            width: auto !important;
        }
}

@media screen and (min-width: 1440px) {
    .best-dishes .background-up {
        background-position-y: -439px;
    }
}

.top-heading {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .top-heading .heading1,
    .top-heading .heading2 {
        z-index: 6;
        font-family: "Cormorant Garamond", serif;
        font-style: italic;
        line-height: 104px;
        font-weight: 700;
        font-size: 134px;
        margin: 0px;
        color: white;
    }

    .top-heading .baku {
        font-family: "Montserrat", sans-serif;
        line-height: 12px;
        letter-spacing: 8px;
        font-weight: 600;
        font-size: 13px;
        margin-top: 40px;
        color: #e7e7e0;
    }

.success h1 {
    border: 1px solid white;
    background-color: white;
    color: black !important;
    border-radius: 17px;
    font-size: 53px !important;
}

.success p {
    font-size: 22px;
    margin: 10px 0;
    color: white;
    font-family: montserrat;
}

@media screen and (max-width: 580px) {
    .top-heading .heading1,
    .top-heading .heading2 {
        font-size: 82px;
    }
}

.three-circles-withpic {
    background: url(../../img/home-img/alwaysfresh.jpg);
    height: auto;
    background-position: center;
}

    .three-circles-withpic .circles-options {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

        .three-circles-withpic .circles-options .circles-option {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .three-circles-withpic .circles-options .circles-option .circles-image {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                border-radius: 100%;
                overflow: hidden;
                width: 330px;
                height: 330px;
            }

                .three-circles-withpic .circles-options .circles-option .circles-image img {
                    height: 330px;
                    width: 330px;
                }

            .three-circles-withpic .circles-options .circles-option .circles-text {
                font-weight: 300;
                text-align: center;
                margin-top: 25px;
            }

                .three-circles-withpic .circles-options .circles-option .circles-text h1 {
                    font-family: "Cormorant Garamond";
                    font-size: 42px;
                    font-style: italic;
                }

                    .three-circles-withpic .circles-options .circles-option .circles-text h1 span {
                        font-weight: 700;
                    }

                .three-circles-withpic .circles-options .circles-option .circles-text p {
                    font-family: "Montserrat";
                    color: #333131;
                    font-size: 16px;
                }

@media screen and (max-width: 992px) {
    .three-circles-withpic {
        background: none;
    }
}

#homepage-content {
    position: relative;
    overflow: hidden;
}

.background-img-container {
    z-index: 100;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

    .background-img-container .background-img {
        position: relative;
        height: 100%;
        z-index: -1;
        width: 100%;
    }

        .background-img-container .background-img .nav-scrolled {
            background-color: rgba(255, 255, 255, 0.95);
            z-index: 10;
            -webkit-transition: 0.2s ease;
            transition: 0.2s ease;
        }

            .background-img-container .background-img .nav-scrolled .logo a {
                color: #3e3e3e;
            }

            .background-img-container .background-img .nav-scrolled .nav-menu a {
                color: grey !important;
            }

        .background-img-container .background-img .nav-bar {
            height: 100px;
            position: absolute;
            width: 100%;
            z-index: 100;
        }

            .background-img-container .background-img .nav-bar .nav {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                margin: 20px auto;
            }

            .background-img-container .background-img .nav-bar .nav-icon {
                color: white;
                padding: 21px 30px;
                margin: 0 auto;
            }

            .background-img-container .background-img .nav-bar .nav-mobile {
                background-color: white;
                border-radius: 23px;
            }

                .background-img-container .background-img .nav-bar .nav-mobile ul {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                }

                    .background-img-container .background-img .nav-bar .nav-mobile ul li a,
                    .background-img-container .background-img .nav-bar .nav-mobile ul li i {
                        color: #3e3e3e !important;
                        padding: 0;
                    }

            .background-img-container .background-img .nav-bar .nav-menu {
                margin: 13px 0;
                padding: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

                .background-img-container .background-img .nav-bar .nav-menu ul {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    margin: 0 auto;
                    padding: 0;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

                    .background-img-container .background-img .nav-bar .nav-menu ul li {
                        list-style-type: none;
                        width: -webkit-max-content;
                        width: -moz-max-content;
                        width: max-content;
                        text-align: center;
                        margin: 0 auto;
                    }

                        .background-img-container .background-img .nav-bar .nav-menu ul li a {
                            text-decoration: none;
                            font-weight: 700;
                            font-size: 14px;
                            font-family: "Montserrat";
                            line-height: 40px;
                            color: #fff;
                            margin: 0px 10px;
                            padding: 25px 0;
                        }

                        .background-img-container .background-img .nav-bar .nav-menu ul li:hover {
                            position: relative;
                            bottom: 5px;
                            -webkit-transition: 0.2s ease;
                            transition: 0.2s ease;
                            margin-bottom: 5px;
                        }

                            .background-img-container .background-img .nav-bar .nav-menu ul li:hover a {
                                color: #e2b948;
                            }

.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media screen and (max-width: 425px) {
    .nav-bar .nav-icon {
        margin: 0px auto !important;
    }
}

@media screen and (max-width: 768px) {
    .nav-desktop {
        display: none !important;
    }

    .nav-mobile {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .nav-mobile {
        display: none !important;
    }

    .nav-icon {
        display: none !important;
    }

    .nav-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .nav-bar {
        position: fixed !important;
    }

        .nav-bar .nav-logo {
            text-align: left !important;
        }
}

@media screen and (max-width: 420px) {
    .nav-menu ul {
        width: 342px !important;
    }
}

@media screen and (max-width: 768px) {
    .background-img-container .background-img {
        background-size: auto !important;
    }
}

.authorization .background-img-container {
    z-index: 100;
    height: 335px;
}

    .authorization .background-img-container .background-img {
        background-image: url(../../img/polaroid-pics1.jpg);
    }

        .authorization .background-img-container .background-img .authorization-header .authorization-heading {
            position: absolute;
            top: 62%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

            .authorization .background-img-container .background-img .authorization-header .authorization-heading h1 {
                color: white;
                text-align: center;
                font-family: "Cormorant Garamond", serif;
                font-style: italic;
                font-weight: 700;
                font-size: 104px;
            }

@media screen and (max-width: 425px) {
    .authorization-header .authorization-heading h1 {
        font-size: 72px !important;
    }
}

footer {
    background-image: url(../../img/footer.jpg);
    overflow: hidden;
}

    footer .footer-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

        footer .footer-content .logo {
            margin: auto 0;
            padding: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }

        footer .footer-content .footer-text {
            margin: auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            letter-spacing: 6px;
            font-family: "Cormorant Garamond", serif;
            font-style: italic;
            text-align: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            footer .footer-content .footer-text h6 {
                color: white;
                font-weight: 700;
                font-size: 18px;
            }

        footer .footer-content .footer-menu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: white;
            padding: 0;
            margin: 46px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            font-family: montserrat;
        }

            footer .footer-content .footer-menu ul {
                padding: 0 122px;
            }

                footer .footer-content .footer-menu ul li {
                    list-style-type: none;
                    margin: 10px 5px;
                    width: 100%;
                }

                    footer .footer-content .footer-menu ul li a {
                        text-decoration: none;
                        color: white;
                    }

                        footer .footer-content .footer-menu ul li a:hover {
                            border-bottom: 1px solid white;
                        }

@media screen and (max-width: 768px) {
    footer {
        margin-top: 15px;
        height: auto;
    }

        footer .footer-content {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            footer .footer-content .logo {
                margin: 25px auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            footer .footer-content .footer-menu {
                text-align: center !important;
                margin: 0;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .footer-menu {
        text-align: center !important;
        padding: unset !important;
    }
}

#restaurants-list .category-buttons {
    margin: 0 auto;
    padding: 0;
}

    #restaurants-list .category-buttons .button-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        #restaurants-list .category-buttons .button-group .button {
            border-radius: 4px;
            border: none;
            margin: 5px;
            height: 60px;
            width: 110px;
        }

            #restaurants-list .category-buttons .button-group .button i {
                color: #3e3e3e;
            }

            #restaurants-list .category-buttons .button-group .button:active, #restaurants-list .category-buttons .button-group .button:hover {
                color: white;
                background-color: orange;
            }

                #restaurants-list .category-buttons .button-group .button:active i, #restaurants-list .category-buttons .button-group .button:hover i {
                    color: white;
                }

    #restaurants-list .category-buttons .active {
        color: white;
        background-color: orange;
        border: none;
    }

        #restaurants-list .category-buttons .active i {
            color: white !important;
        }

#restaurants-list .grid .show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#restaurants-list .grid .place {
    display: none;
}

#restaurants-list .grid .place-image img {
    -webkit-filter: saturate(0.7);
    filter: saturate(0.7);
}

#restaurants-list .grid .place-info {
    background-image: url(../../img/home-img/frame.png);
    background-size: 72%;
    background-position: top;
    background-repeat: no-repeat;
}

#restaurants-list .grid .place-info-text p {
    font-size: 16px;
}

#restaurants-list .grid .place-info a {
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 9px;
    color: white;
    padding: 13px 35px;
    font-size: 15px;
    font-family: "Montserrat";
    background-color: orange;
}

    #restaurants-list .grid .place-info a:hover {
        border: 1px solid orange;
        background-color: white;
        color: orange;
    }

.authorization .authentication-form {
    margin-top: 30px;
    background: url(../../img/home-img/alwaysfresh.jpg);
    background-position: center;
}

    .authorization .authentication-form .form-container {
        margin: 20px auto;
        border: 1px solid yellow;
        background-color: white;
        border-radius: 10px;
        -webkit-box-shadow: -3px 8px 25px -5px rgba(220, 224, 221, 0.91);
        box-shadow: -3px 8px 25px -5px rgba(220, 224, 221, 0.91);
    }

        .authorization .authentication-form .form-container form {
            padding: 64px;
        }

            .authorization .authentication-form .form-container form h5 {
                font-family: "Cormorant Garamond";
                font-size: 35px;
                text-align: center;
                font-style: italic;
                font-weight: 400;
                margin-bottom: 36px;
            }

            .authorization .authentication-form .form-container form .form-btn {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

                .authorization .authentication-form .form-container form .form-btn button {
                    margin: 15px 0;
                    width: 140px;
                    background-color: #3e3e3e;
                    border: none;
                    height: 44px;
                }

            .authorization .authentication-form .form-container form .form-text {
                margin: 28px auto;
                text-align: center;
            }

                .authorization .authentication-form .form-container form .form-text a {
                    color: orange;
                }
/*# sourceMappingURL=main.css.map */
