@{
    ViewData["Title"] = "Login";
}

<body class="authorization">

    <!-- NAV + TOP PART OF PAGE -->
    <div class="background-img-container">
        <div class="background-img">
            <section class="authorization-header">
                <!-- NAV -->
                <section id="nav-bar-auth" class="nav-bar">
                    <div class="container">
                        <div class="nav">
                            <div class="logo col-sm-12 col-md-5 col-lg-2">
                                <h1><a href="./home.html">Restaurator</a></h1>
                            </div>
                            <div class="nav-menu col-sm-12 col-md-6 col-lg-4">
                                <ul>
                                    <li><a href="home.html">Home</a></li>
                                    <li><a href="register.html">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- NAV -->

                <div class="margin-300"></div>

                <!-- PAGE TOP HEADING -->
                <div class="authorization-heading">
                    <h1>Sign In</h1>
                </div>
                <!-- PAGE TOP HEADING -->
            </section>
        </div>
    </div>
    <!-- NAV + TOP PART OF PAGE -->
    <!-- AUTHENTICATION PANEL -->
    <div class="authentication-form">
        <div class="container">
            <div class="form-container col-lg-6 col-md-8 col-sm-12">
                <form>
                    <h5>Welcome back, dear customer!</h5>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-btn">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                    <p class="form-text">Do not have an account? <a href="./register.html">Register here!</a></p>
                </form>
            </div>
        </div>
    </div>
    <!-- AUTHENTICATION PANEL -->
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="footer-content col-lg-12">
                <div class="logo col-sm-12 col-md-5 col-lg-4">
                    <h1><a href="./home.html">Restaurator</a></h1>
                </div>
                <div class="footer-text col-sm-12 col-md-5 col-lg-4">
                    <h6>Baku, Azerbaijan</h6>
                </div>
                <div class="footer-menu col-sm-12 col-md-12 col-lg-4">
                    <ul>
                        <li><a href="./home.html">Home</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER -->
</body>


