@inject IAuth Auth
@model ReservationViewModel
@{
    ViewData["Title"] = "L'Avenue";
}

<body id="place-lavenue">
    <div class="page-content">
        <!-- NAV + TOP PART OF PAGE -->
        <section id="lavenue-top">
            <div class="background-img-container">
                <div class="background-img">
                    <!-- NAV -->
                    <section id="nav-bar" class="nav-bar">
                        <div class="container">
                            <div class="nav">
                                <div class="logo col-sm-12 col-md-5 col-lg-2">
                                    <h1><a asp-controller="Home" asp-action="index">Restaurator</a></h1>
                                </div>
                                <div class="nav-menu nav-desktop col-sm-12 col-md-6 col-lg-5">
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="index">Home</a></li>
                                        <li><a href="#reservation">Reservation</a></li>
                                        <li><a href="#contacts">Contacts</a></li>
                                        @if (Auth.User == null)
                                        {
                                            <li><a asp-controller="Register" asp-action="index">Register</a></li>
                                            <li><a asp-controller="Login" asp-action="index">Login</a></li>
                                        }
                                        @if (Auth.User != null)
                                        {
                                            <li>
                                                <a><i class="fa fa-user mr-1"></i> <span>@Auth.User.Fullname</span></a>
                                            </li>
                                            <li>
                                                <a asp-controller="Login" asp-action="logout"><i class="dropdown-icon icon icon-power mr-1"></i><span>Log Out</span></a>
                                            </li>
                                        }
                                        <li>
                                            <a href="https://www.instagram.com/lavenuebaku/?hl=en">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/lavenuebaku/">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <i class="nav-icon material-icons">dehaze</i>
                                <div class="nav-menu nav-mobile col-sm-12 col-md-7 col-lg-5">
                                    <ul>
                                        i>
                                        <a asp-controller="Home" asp-action="index">Home</a></li>
                                        <li><a href="#reservation">Reservation</a></li>
                                        <li><a href="#contacts">Contacts</a></li>
                                        @if (Auth.User == null)
                                        {
                                            <li><a asp-controller="Register" asp-action="index">Register</a></li>
                                            <li><a asp-controller="Login" asp-action="index">Login</a></li>
                                        }
                                        @if (Auth.User != null)
                                        {
                                            <li>
                                                <a><i class="fa fa-user mr-1"></i> <span>@Auth.User.Fullname</span></a>
                                            </li>
                                            <li>
                                                <a asp-controller="Login" asp-action="logout"><i class="dropdown-icon icon icon-power mr-1"></i><span>Log Out</span></a>
                                            </li>
                                        }
                                        <li>
                                            <a href="https://www.instagram.com/lavenuebaku/?hl=en">
                                                <i class="fab fa-instagram"></i>
                                            </a><a href="https://www.facebook.com/lavenuebaku/">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- NAV -->

                    <div class="margin-465"></div>

                    <!-- PAGE TOP HEADING -->
                    <div class="top-heading">
                        <h1 class="heading1" data-aos="fade-right" data-aos-duration="3000"
                            data-aos-easing="ease-in-out" data-aos-once="true">
                            L'avenue
                        </h1>
                        <p class="baku" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-out"
                           data-aos-once="true">BAKU</p>
                    </div>
                    <!-- PAGE TOP HEADING -->
                </div>
            </div>
        </section>
        <div class="margin-75"></div>
        <!-- NAV + TOP PART OF PAGE -->
        <!-- WHAT WE CAN OFFER -->
        <section class="three-circles-withpic">
            <div class="container">
                <div class="section-heading" style="margin-top: -7px;">
                    <h1>What We Can Offer</h1>
                    <hr>
                </div>
                <div class="circles-options col-lg-12 col-md-12 col-sm-12">
                    <div class="circles-option col-sm-12 col-md-10 col-lg-4" data-aos="fade-up" data-aos-duration="1200"
                         data-aos-easing="ease-in-out" data-aos-once="true" data-aos-anchor-placement="top-center">
                        <div class="circles-image">
                            <img src="../img/Places/lavenue/pic1.jpg" style="width: 415px;" alt="pic">
                        </div>
                        <div class="circles-text">
                            <h1><span>Unique</span> Atmosphere</h1>
                            <p>Enjoy the unique atmosphere of this place.</p>
                        </div>
                    </div>
                    <div class="circles-option col-sm-12 col-md-10 col-lg-4" data-aos="fade-down"
                         data-aos-duration="1200" data-aos-delay="200" data-aos-easing="ease-in-out" data-aos-once="true"
                         data-aos-anchor-placement="top-center">
                        <div class="circles-image">
                            <img src="../img/Places/lavenue/pic2.jpg" style="height: 360px;" alt="pic">
                        </div>
                        <div class="circles-text">
                            <h1><span>Tasty</span> Meal</h1>
                            <p>Variuos kinds of high class dishes.</p>
                        </div>
                    </div>
                    <div class="circles-option col-sm-12 col-md-10 col-lg-4" data-aos="fade-up" data-aos-delay="400"
                         data-aos-duration="1200" data-aos-easing="ease-in-out" data-aos-once="true"
                         data-aos-anchor-placement="top-center">
                        <div class="circles-image">
                            <img src="../img/Places/lavenue/pic3.jpg" alt="pic">
                        </div>
                        <div class="circles-text">
                            <h1><span>Variety</span> of Desserts</h1>
                            <p>Love desserts? We have plenty!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- WHAT WE CAN OFFER -->
        <!-- MEALS' PICTURES AND TEXT -->
        <section class="meals-pictures">
            <!-- GRID DESKTOP -->
            <div class="grid desktop col-lg-12 col-md-12">
                <div class="place col-lg-12 col-md-12">
                    <div class="place-image col-lg-6 col-md-6" data-aos="fade-right" data-aos-duration="1300"
                         data-aos-easing="ease-in-out" data-aos-once="true">
                        <img src="../img/Places/lavenue/img1.jpg" alt="lavenue">
                    </div>
                    <div class="place-info col-lg-6 col-md-6">
                        <div class="place-info-text">
                            <p>Enjoy your meal while looking at magnificent city views!</p>
                        </div>
                    </div>
                </div>
                <div class="place col-lg-12 col-md-12">
                    <div class="place-info col-lg-6 col-md-6">
                        <div class="place-info-text">
                            <p>Finest cuisine, azerbaijani and european as well. </p>
                        </div>
                    </div>
                    <div class="place-image col-lg-6 col-md-6" data-aos="fade-left" data-aos-duration="1300"
                         data-aos-easing="ease-in-out" data-aos-once="true">
                        <img src="../img/Places/lavenue/img2.jpg" alt="lavenue">
                    </div>
                </div>
            </div>
            <!-- GRID DESKTOP -->
            <!-- GRID MOBILE -->
            <div class="grid mobile col-md-12 col-sm-12">
                <div class="place col-md-12 col-sm-12">
                    <div class="place-info col-md-6 col-sm-12">
                        <div class="place-info-text">
                            <p>Enjoy your meal while looking at magnificent city views!</p>
                        </div>
                    </div>
                    <div class="place-image col-md-6 col-sm-12" data-aos="fade-right" data-aos-duration="1300"
                         data-aos-easing="ease-in-out" data-aos-once="true">
                        <img src="../img/Places/lavenue/img1.jpg" alt="lavenue">
                    </div>
                </div>
                <div class="place col-md-12 col-sm-12">
                    <div class="place-info col-md-6 col-sm-12">
                        <div class="place-info-text">
                            <p>Finest cuisine, azerbaijani and european as well. </p>
                        </div>
                    </div>
                    <div class="place-image col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="1300"
                         data-aos-easing="ease-in-out" data-aos-once="true">
                        <img src="../img/Places/lavenue/img2.jpg" alt="lavenue">
                    </div>
                </div>
            </div>
            <!-- GRID MOBILE -->
        </section>

        <div class="margin-75"></div>
        <!-- MEALS' PICTURES AND TEXT -->
        <!-- BEST DISHES -->
        <section id="best-dishes" class="best-dishes">
            <div class="background-up"></div>
            <div class="menu-card col-lg-12">
                <div class="container">
                    <div class="menu-card-container col-lg-11 col-md-12 col-sm-12">
                        <div class="menu-icon col-lg-1">
                            <img src="../img/menu/menu-icon.png" alt="menu-icon">
                        </div>
                        <div class="section-heading">
                            <h1>Our Best Dishes</h1>
                            <hr>
                        </div>
                        <div class="menu-content col-lg-12 col-md-11 col-sm-12">
                            <div class="menu-column col-lg-6 col-md-6 col-sm-12">
                                <div class="menu-item col-lg-12 col-md-12 col-sm-12">
                                    <div class="dish-heading">
                                        <h2>Cuisine de rue</h2>
                                        <h2 class="price">30.00₼</h2>
                                    </div>
                                    <hr>
                                    <div class="dish-text">
                                        <p>Prawns and squid in batter with Ruelle sauce</p>
                                    </div>
                                </div>
                                <div class="menu-item col-lg-12 col-md-12 col-sm-12">
                                    <div class="dish-heading">
                                        <h2>Lyonnaise salad</h2>
                                        <h2 class="price">22.00₼</h2>
                                    </div>
                                    <hr>
                                    <div class="dish-text">
                                        <p>Lyonnaise salad with grilled chicken fillet, pancetta, poached egg and Dijon mustard sauce</p>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-column col-lg-6 col-md-6 col-sm-12">
                                <div class="menu-item col-lg-12 col-md-12 col-sm-12">
                                    <div class="dish-heading">
                                        <h2>Cheesecake</h2>
                                        <h2 class="price">13.00₼</h2>
                                    </div>
                                    <hr>
                                    <div class="dish-text">
                                        <p>
                                            Mousse cheesecake from natural yoghurt and cheese with mango,
                                            lime and crispy crumb from Parmeggiano Reggiano
                                        </p>
                                    </div>
                                </div>
                                <div class="menu-item col-lg-12 col-md-12 col-sm-12">
                                    <div class="dish-heading">
                                        <h2>Duck liver</h2>
                                        <h2 class="price">24.00₼</h2>
                                    </div>
                                    <hr>
                                    <div class="dish-text">
                                        <p>Duck liver terin pate with citrus oil, caramelized figs and red wine jam</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BEST DISHES -->
        <!-- RATING AND REVIEWS -->
        <section class="rating-and-reviews">
            <div class="container">
                <div class="section-heading" style="margin-top: -7px;">
                    <h1>Rating And Reviews</h1>
                    <hr>
                </div>
                <div class="rating-stars">
                    <div class="stars">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <div class="comments-section">
                    <div class="comment col-sm-12 col-md-12 col-lg-5">
                        <div class="user-texts">
                            <div class="upperpart-texts">
                                <h5 class="username">username</h5>
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="lowerpart-texts">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A totam officia assumenda
                                    rem,
                                    nemo expedita. Quaerat, omnis nostrum
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-sm-12 col-md-12 col-lg-5">
                        <div class="user-texts">
                            <div class="upperpart-texts">
                                <h5 class="username">username</h5>
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="lowerpart-texts">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A totam officia assumenda
                                    rem,
                                    nemo expedita. Quaerat, omnis nostrum
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-sm-12 col-md-12 col-lg-5">
                        <div class="user-texts">
                            <div class="upperpart-texts">
                                <h5 class="username">username</h5>
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="lowerpart-texts">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A totam officia assumenda
                                    rem,
                                    nemo expedita. Quaerat, omnis nostrum
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-sm-12 col-md-12 col-lg-5">
                        <div class="user-texts">
                            <div class="upperpart-texts">
                                <h5 class="username">username</h5>
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="lowerpart-texts">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A totam officia assumenda
                                    rem,
                                    nemo expedita. Quaerat, omnis nostrum
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-comment-section">
                    <div class="add-comment col-lg-6 col-sm-12">
                        <h5>Add your comment about this place...</h5>
                        <form action="post">
                            <textarea placeholder="  Comment here..." maxlength="3000" cols="30" rows="10"></textarea>
                            <div class="comment-btns">
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <button type="submit">Add Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="margin-75"></div>
        <!-- RATING AND REVIEWS -->
        <!-- RESERVATION -->
        <section id="reservation" class="reservation">
            <div class="background-up"></div>
            <div class="reservation-card col-lg-12">
                <div class="container">
                    <div class="reservation-card-container col-lg-11 col-md-11 col-sm-12">
                        <div class="section-heading">
                            <h1>Make a Reservation</h1>
                            <hr>
                        </div>
                        <div class="reservation-content">
                            <form class="reservation-form col-lg-10" method="post">
                                <div class="form-row" id="row1">
                                    <input type="hidden" asp-for="PlaceId" value="8" />
                                    <input type="text" asp-for="Fullname" placeholder="Full Name">
                                    <input type="text" asp-for="Phone" placeholder="Phone Number">
                                </div>
                                <div class="form-row" id="row2">
                                    <input type="text" asp-for="numOfPersons" placeholder="Number of persons">
                                    <input type="date" asp-for="Date">
                                    <select asp-for="Time">
                                        <option value="0">Time</option>
                                        <option value="12:00">12:00</option>
                                        <option value="12:30">12:30</option>
                                        <option value="13:00">13:00</option>
                                        <option value="13:30">13:30</option>
                                        <option value="14:00">14:00</option>
                                        <option value="14:30">14:30</option>
                                        <option value="15:00">15:00</option>
                                        <option value="15:30">15:30</option>
                                        <option value="16:00">16:00</option>
                                        <option value="16:30">16:30</option>
                                        <option value="17:00">17:00</option>
                                        <option value="17:30">17:30</option>
                                        <option value="18:00">18:00</option>
                                        <option value="18:30">18:30</option>
                                        <option value="19:00">19:00</option>
                                        <option value="19:30">19:30</option>
                                        <option value="20:00">20:00</option>
                                        <option value="20:30">20:30</option>
                                        <option value="21:00">21:00</option>
                                        <option value="21:30">21:30</option>
                                        <option value="22:00">22:00</option>
                                        <option value="22:30">22:30</option>
                                    </select>
                                </div>
                                <button type="submit">Reserve</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- RESERVATION -->
        <!-- CONTACT US -->
        <section id="contacts" class="contact-us">
            <div class="contact-us-content col-lg-12 col-md-12 col-sm-12">
                <div class="contact-us-text col-lg-6 col-md-6 col-sm-12">
                    <div class="section-heading">
                        <h1>How to Find<br> & Contact Us</h1>
                        <hr>
                    </div>
                    <div class="info">
                        <div class="info-item">
                            <span>Open Hours</span>
                            <p>12:00 — 0:00</p>
                        </div>
                        <div class="info-item">
                            <span>Address</span>
                            <p>National Flag Square</p>
                        </div>
                        <div class="info-item">
                            <span>Phone</span>
                            <p>+99450 294 15 15</p>
                        </div>
                    </div>
                </div>
                <div class="map col-lg-6 col-md-6 col-sm-12">
                    <iframe id="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.825963283823!2d49.83930701525548!3d40.346206579373316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307df94296df03%3A0xf42a93a937ba40a2!2sL&#39;avenue%20Restaurant!5e0!3m2!1sen!2s!4v1582653388236!5m2!1sen!2s"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            data-aos="fade-left" data-aos-duration="1300" data-aos-easing="ease-in-out"
                            data-aos-once="true"></iframe>
                </div>
            </div>
        </section>
        <!-- CONTACT US -->
        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="footer-content col-lg-12">
                    <div class="logo col-sm-12 col-md-5 col-lg-4">
                        <h1><a asp-controller="Home" asp-action="index">Restaurator</a></h1>
                    </div>
                    <div class="footer-text col-sm-12 col-md-5 col-lg-4">
                        <h6>Baku, Azerbaijan</h6>
                    </div>
                    <div class="footer-menu col-sm-12 col-md-12 col-lg-4">
                        <ul>
                            <li><a href="#best-dishes">Dishes</a></li>
                            <li><a href="#reservation">Reservation</a></li>
                            <li><a href="#contacts">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER -->
    </div>
</body>

