@{
    ViewData["Title"] = "Lviv";
}

<body id="place-lviv">
    <div class="page-content">
        <!-- NAV + TOP PART OF PAGE -->
        <section id="lviv-top">
            <div class="background-img-container">
                <div class="background-img">
                    <!-- NAV -->
                    <section id="nav-bar" class="nav-bar">
                        <div class="container">
                            <div class="nav">
                                <div class="logo col-sm-12 col-md-5 col-lg-2">
                                    <h1><a href="./home.html">Restaurator</a></h1>
                                </div>
                                <div class="nav-menu nav-desktop col-sm-12 col-md-6 col-lg-5">
                                    <ul>
                                        <li><a href="home.html">Home</a></li>
                                        <li><a href="#reservation">Reservation</a></li>
                                        <li><a href="#contacts">Contacts</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li>
                                            <a href="https://www.instagram.com/lviv.chocolate.baku/?hl=en">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/lviv.chocolate.baku/">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <i class="nav-icon material-icons">dehaze</i>
                                <div class="nav-menu nav-mobile col-sm-12 col-md-7 col-lg-5">
                                    <ul>
                                        <li><a href="home.html">Home</a></li>
                                        <li><a href="#reservation">Reservation</a></li>
                                        <li><a href="#contacts">Contacts</a></li>
                                        <li><a href="register.html">Register</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li>
                                            <a href="https://www.instagram.com/lviv.chocolate.baku/?hl=en">
                                                <i class="fab fa-instagram"></i>
                                            </a><a href="https://www.facebook.com/lviv.chocolate.baku/">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- NAV -->

                    <div class="margin-465"></div>

                    <!-- PAGE TOP HEADING -->
                    <div class="top-heading">
                        <h1 class="heading1" data-aos="fade-right" data-aos-duration="3000"
                            data-aos-easing="ease-in-out" data-aos-once="true">
                            Lviv
                        </h1>
                        <h1 class="heading2" data-aos="fade-left" data-aos-duration="3000" data-aos-easing="ease-in-out"
                            data-aos-once="true">
                            Handmade Chocolate
                        </h1>
                        <p class="baku" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-out"
                           data-aos-once="true">BAKU</p>
                    </div>
                    <!-- PAGE TOP HEADING -->
                </div>
            </div>
        </section>
        <div class="margin-75"></div>
        <!-- NAV + TOP PART OF PAGE -->
        <!-- WHAT WE CAN OFFER -->
        <section class="three-circles-withpic">
            <div class="container">
                <div class="section-heading" style="margin-top: -7px;">
                    <h1>What We Can Offer</h1>
                    <hr>
                </div>
                <div class="circles-options col-lg-12 col-md-12 col-sm-12">
                    <div class="circles-option col-sm-12 col-md-10 col-lg-4" data-aos="fade-up" data-aos-duration="1200"
                         data-aos-easing="ease-in-out" data-aos-once="true" data-aos-anchor-placement="top-center">
                        <div class="circles-image">
                            <img src="./assets/img/Places/lviv/pic1.jpg" alt="coffee">
                        </div>
                        <div class="circles-text">
                            <h1><span>Finest</span> Chocolate</h1>
                            <p>Buy chocolate right here!</p>
                        </div>
                    </div>
                    <div class="circles-option col-sm-12 col-md-10 col-lg-4" data-aos="fade-down"
                         data-aos-duration="1200" data-aos-delay="200" data-aos-easing="ease-in-out" data-aos-once="true"
                         data-aos-anchor-placement="top-center">
                        <div class="circles-image">
                            <img src="./assets/img/Places/lviv/pic2.jpg" alt="coffee">
                        </div>
                        <div class="circles-text">
                            <h1><span>Best</span> Waffles</h1>
                            <p>Love waffles? Order them with<br> your favourite dressing!</p>
                        </div>
                    </div>
                    <div class="circles-option col-sm-12 col-md-10 col-lg-4" data-aos="fade-up" data-aos-delay="400"
                         data-aos-duration="1200" data-aos-easing="ease-in-out" data-aos-once="true"
                         data-aos-anchor-placement="top-center">
                        <div class="circles-image">
                            <img src="./assets/img/Places/lviv/pic3.jpg" alt="coffee">
                        </div>
                        <div class="circles-text">
                            <h1><span>Chocolate</span> Fondue</h1>
                            <p>Choose your favorite fruits and<br> eat them with our delicious chocolate!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- WHAT WE CAN OFFER -->
        <!-- MEALS' PICTURES AND TEXT -->
        <section class="meals-pictures">
            <!-- GRID DESKTOP -->
            <div class="grid desktop col-lg-12 col-md-12">
                <div class="place col-lg-12 col-md-12">
                    <div class="place-image col-lg-6 col-md-6" data-aos="fade-right" data-aos-duration="1300"
                         data-aos-easing="ease-in-out" data-aos-once="true">
                        <img src="./assets/img/Places/lviv/lviv2.jpg" alt="dessert" style="height: 161%;
                    position: relative;
                    bottom: 178px;">
                    </div>
                    <div class="place-info col-lg-6 col-md-6">
                        <div class="place-info-text">
                            <p>
                                All kinds of chocolate, and desserts of your choice! You will definitely leave this place
                                with a smile.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="place col-lg-12 col-md-12">
                    <div class="place-info col-lg-6 col-md-6">
                        <div class="place-info-text">
                            <p>
                                Hot drinks of your choice. Cozy atmosphere to spend quality time with your closest ones.
                            </p>
                        </div>
                    </div>
                    <div class="place-image col-lg-6 col-md-6" data-aos="fade-left" data-aos-duration="1300"
                         data-aos-easing="ease-in-out" data-aos-once="true">
                        <img src="./assets/img/Places/lviv/lviv1.jpg" alt="tea" style="height: 161%;
                    position: relative;
                    bottom: 178px;">
                    </div>
                </div>
            </div>
            <!-- GRID DESKTOP -->
            <!-- GRID MOBILE -->
            <div class="grid mobile col-md-12 col-sm-12">
                <div class="place col-md-12 col-sm-12">
                    <div class="place-info col-md-6 col-sm-12">
                        <div class="place-info-text">
                            <p>
                                All kinds of chocolate, and desserts of your choice! You will definitely leave this place
                                with a smile.
                            </p>
                        </div>
                    </div>
                    <div class="place-image col-md-6 col-sm-12" data-aos="fade-right" data-aos-duration="1300"
                         data-aos-easing="ease-in-out" data-aos-once="true">
                        <img src="./assets/img/Places/lviv/lviv2.jpg" alt="dessert" style="height: 161%;
                    position: relative;
                    bottom: 178px;">
                    </div>
                </div>
                <div class="place col-md-12 col-sm-12">
                    <div class="place-info col-md-6 col-sm-12">
                        <div class="place-info-text">
                            <p>
                                Hot drinks of your choice. Cozy atmosphere to spend quality time with your closest ones.
                            </p>
                        </div>
                    </div>
                    <div class="place-image col-md-6 col-sm-12" data-aos="fade-left" data-aos-duration="1300"
                         data-aos-easing="ease-in-out" data-aos-once="true">
                        <img src="./assets/img/Places/lviv/lviv1.jpg" alt="tea" style="height: 161%;
                    position: relative;
                    bottom: 178px;">
                    </div>
                </div>
            </div>
            <!-- GRID MOBILE -->
        </section>
        <div class="margin-75"></div>
        <!-- MEALS' PICTURES AND TEXT -->
        <!-- BEST DISHES -->
        <section id="best-dishes" class="best-dishes">
            <div class="background-up"></div>
            <div class="menu-card col-lg-12">
                <div class="container">
                    <div class="menu-card-container col-lg-11 col-md-12 col-sm-12">
                        <div class="menu-icon col-lg-1">
                            <img src="./assets/img/menu/menu-icon.png" alt="menu-icon">
                        </div>
                        <div class="section-heading">
                            <h1>Our Best Dishes</h1>
                            <hr>
                        </div>
                        <div class="menu-content col-lg-12 col-md-11 col-sm-12">
                            <div class="menu-column col-lg-6 col-md-6 col-sm-12">
                                <div class="menu-item col-lg-12 col-md-12 col-sm-12">
                                    <div class="dish-heading">
                                        <h2>Strawberry Delight</h2>
                                        <h2 class="price">6.00₼</h2>
                                    </div>
                                    <hr>
                                    <div class="dish-text">
                                        <p>Strawberries, ice cream, cookies, milk chocolate, cream</p>
                                    </div>
                                </div>
                                <div class="menu-item col-lg-12 col-md-12 col-sm-12">
                                    <div class="dish-heading">
                                        <h2>Chocolate Cake</h2>
                                        <h2 class="price">7.00₼</h2>
                                    </div>
                                    <hr>
                                    <div class="dish-text">
                                        <p>Chocolate biscuit, creamy chocolate cream</p>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-column col-lg-6 col-md-6 col-sm-12">
                                <div class="menu-item col-lg-12 col-md-12 col-sm-12">
                                    <div class="dish-heading">
                                        <h2>Waffles With Chocolate</h2>
                                        <h2 class="price">6.00₼</h2>
                                    </div>
                                    <hr>
                                    <div class="dish-text">
                                        <p>Dark, milk or white + any season fruits of choice</p>
                                    </div>
                                </div>
                                <div class="menu-item col-lg-12 col-md-12 col-sm-12">
                                    <div class="dish-heading">
                                        <h2>Pancake with chocolate</h2>
                                        <h2 class="price">7.00₼</h2>
                                    </div>
                                    <hr>
                                    <div class="dish-text">
                                        <p>Dark, milk or white + any season fruits of choice</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BEST DISHES -->
        <!-- RATING AND REVIEWS -->
        <section class="rating-and-reviews">
            <div class="container">
                <div class="section-heading" style="margin-top: -7px;">
                    <h1>Rating And Reviews</h1>
                    <hr>
                </div>
                <div class="rating-stars">
                    <div class="stars">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <div class="comments-section">
                    <div class="comment col-sm-12 col-md-12 col-lg-5">
                        <div class="user-texts">
                            <div class="upperpart-texts">
                                <h5 class="username">username</h5>
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="lowerpart-texts">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A totam officia assumenda
                                    rem,
                                    nemo expedita. Quaerat, omnis nostrum
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-sm-12 col-md-12 col-lg-5">
                        <div class="user-texts">
                            <div class="upperpart-texts">
                                <h5 class="username">username</h5>
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="lowerpart-texts">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A totam officia assumenda
                                    rem,
                                    nemo expedita. Quaerat, omnis nostrum
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-sm-12 col-md-12 col-lg-5">
                        <div class="user-texts">
                            <div class="upperpart-texts">
                                <h5 class="username">username</h5>
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="lowerpart-texts">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A totam officia assumenda
                                    rem,
                                    nemo expedita. Quaerat, omnis nostrum
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment col-sm-12 col-md-12 col-lg-5">
                        <div class="user-texts">
                            <div class="upperpart-texts">
                                <h5 class="username">username</h5>
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                            </div>
                            <div class="lowerpart-texts">
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. A totam officia assumenda
                                    rem,
                                    nemo expedita. Quaerat, omnis nostrum
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-comment-section">
                    <div class="add-comment col-lg-6 col-sm-12">
                        <h5>Add your comment about this place...</h5>
                        <form action="post">
                            <textarea placeholder="  Comment here..." maxlength="3000" cols="30" rows="10"></textarea>
                            <div class="comment-btns">
                                <div class="stars">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <button type="submit">Add Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="margin-75"></div>
        <!-- RATING AND REVIEWS -->
        <!-- RESERVATION -->
        <section id="reservation" class="reservation">
            <div class="background-up"></div>
            <div class="reservation-card col-lg-12">
                <div class="container">
                    <div class="reservation-card-container col-lg-11 col-md-11 col-sm-12">
                        <div class="section-heading">
                            <h1>Make a Reservation</h1>
                            <hr>
                        </div>
                        <div class="reservation-content">
                            <form class="reservation-form col-lg-10" method="post">
                                <div class="form-row" id="row1">
                                    <input type="text" placeholder="Full Name">
                                    <input type="text" placeholder="Phone Number">
                                </div>
                                <div class="form-row" id="row2">
                                    <input type="text" placeholder="Number of persons">
                                    <input type="date">
                                    <select name="" id="">
                                        <option value="Time">Time</option>
                                        <option value="09:00">09:00</option>
                                        <option value="09:30">09:30</option>
                                        <option value="10:00">10:00</option>
                                        <option value="10:30">10:30</option>
                                        <option value="11:00">11:00</option>
                                        <option value="11:30">11:30</option>
                                        <option value="12:00">12:00</option>
                                        <option value="12:30">12:30</option>
                                        <option value="13:00">13:00</option>
                                        <option value="13:30">13:30</option>
                                        <option value="14:00">14:00</option>
                                        <option value="14:30">14:30</option>
                                        <option value="15:00">15:00</option>
                                        <option value="15:30">15:30</option>
                                        <option value="16:00">16:00</option>
                                        <option value="16:30">16:30</option>
                                        <option value="17:00">17:00</option>
                                        <option value="17:30">17:30</option>
                                        <option value="18:00">18:00</option>
                                        <option value="18:30">18:30</option>
                                        <option value="19:00">19:00</option>
                                        <option value="19:30">19:30</option>
                                        <option value="20:00">20:00</option>
                                        <option value="20:30">20:30</option>
                                    </select>
                                </div>
                                <button type="submit">Reserve</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- RESERVATION -->
        <!-- CONTACT US -->
        <section id="contacts" class="contact-us">
            <div class="contact-us-content col-lg-12 col-md-12 col-sm-12">
                <div class="contact-us-text col-lg-6 col-md-6 col-sm-12">
                    <div class="section-heading">
                        <h1>How to Find<br> & Contact Us</h1>
                        <hr>
                    </div>
                    <div class="info">
                        <div class="info-item">
                            <span>Open Hours</span>
                            <p>10:00 — 23:00</p>
                        </div>
                        <div class="info-item">
                            <span>Address</span>
                            <p>Yusif Mammadaliyev, 42A</p>
                        </div>
                        <div class="info-item">
                            <span>Phone</span>
                            <p>+99455 310 52 89</p>
                        </div>
                    </div>
                </div>
                <div class="map col-lg-6 col-md-6 col-sm-12">
                    <iframe id="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.703369614973!2d49.83815923273064!3d40.37110118542477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307db0faa17bf5%3A0x28fddd6850db47d7!2sLviv%20Chocolate%20House!5e0!3m2!1sen!2s!4v1582653303549!5m2!1sen!2s"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            data-aos="fade-left" data-aos-duration="1300" data-aos-easing="ease-in-out"
                            data-aos-once="true"></iframe>
                </div>
            </div>
        </section>
        <!-- CONTACT US -->
        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="footer-content col-lg-12">
                    <div class="logo col-sm-12 col-md-5 col-lg-4">
                        <h1><a href="./home.html">Restaurator</a></h1>
                    </div>
                    <div class="footer-text col-sm-12 col-md-5 col-lg-4">
                        <h6>Baku, Azerbaijan</h6>
                    </div>
                    <div class="footer-menu col-sm-12 col-md-12 col-lg-4">
                        <ul>
                            <li><a href="#best-dishes">Dishes</a></li>
                            <li><a href="#reservation">Reservation</a></li>
                            <li><a href="#contacts">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER -->
    </div>
</body>

